button{
  padding: 10px;
  border: none;
  background-color: #af0101;
  color: white;
  width: 200px;
  margin-right: 10px;
  font-weight: 600;

}

button:hover{
  background-color: rgba(175, 1, 1, 0.92);
}

.active{
  background-color: #000000!important;


}
