.btn-signup,.btn-google{
  padding: 10px;
  border: none;
  background-color: #000000;
  color: white;
  width: 200px;
  margin-right: 10px;
  font-weight: 600;

}

.btn-google{
  background-color: #02df5a;

}
